<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">brewR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Options</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Home</a>
          <a class="dropdown-item" href="#">Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      {{!-- <h6> <span class="member-name"></span></h6> --}}

      <select id="searchType" class="form-control mr-sm-2">
        <option value="">Search by...</option>
        <option value="1">Name</option>
        <option value="2">City</option>
        <option value="3">Zip Code</option>
        <option value="4">State</option>
        <option value="5">Brewery Type</option>
      </select>

      <div class="row-fluid searchDiv">
        <input id="searchInput" class="form-control hidden">
        <select id="stateInput" class="form-control hidden">
          <option value="">Select State</option>
          <option value="AL">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="District_of_Columbia">District Of Columbia</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New_Hampshire">New Hampshire</option>
          <option value="New_Jersey">New Jersey</option>
          <option value="New_Mexico">New Mexico</option>
          <option value="New_York">New York</option>
          <option value="North_Carolina">North Carolina</option>
          <option value="North_Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode_Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="WWashington">Washington</option>
          <option value="West_Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
        </select>

        <!-- Change to select//option -->
        <select id="typeInput" class="form-control hidden">
          <option value="">Select Type</option>
          <option value="micro">Micro Brewery</option>
          <option value="regional">Regional Brewery</option>
          <option value="brewpub">Brew Pub</option>
          <option value="large">Large</option>
          <option value="planning">Planning</option>
          <option value="bar">Bar</option>
          <option value="contract">Contract</option>
          <option value="proprietor">Proprietor</option>
        </select>
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" id="searchBtn">Search</button>
      </div>
    </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</nav>
{{#each brewery}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Type: {{brewery_type}}</h6>
    <p class="card-text">{{city}}, {{state}}</p>
    <a href="{{website_url}}" class="card-link">Home Page</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}