<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2> <span class="member-name"></span></h2>
            <div class="searchDiv">
                <h3 class="brewerysearch">Brewery Search
            </div>
            <div class="row-fluid searchDiv">
                <input class="form-control"></input>
                <button class="btn" id="search-button">Search</button>
            </div>

        </div>
    </div>
    <div class="row">
        <li>

    {{name}}

    <button class="change-drink" data-id="{{id}}" data-newbrewery="{{brewery}}">
       {{brewery_name}} {{#if brewery}} - Add to List {{/if}}
    </button>

    <button class="delete-brewery" data-id="{{this.id}}">DELETE</button>
</li>
    </div>
</div>