  {{!-- <div class="row">
        <li>

    {{name}}

    <button class="change-drink" data-id="{{id}}" data-newbrewery="{{brewery}}">
       {{brewery_name}} {{#if brewery}} - Add Brewery to Visited list {{/if}}
    </button>

    <button class="delete-brewery" data-id="{{this.id}}">DELETE</button>
</li>
    </div> --}}